.FallBackPic {
    position: relative;
    min-width: 200px;
    min-height: 200px;
    background-image: url("../../assets/images/popcorn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;

}