.Header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.logo, .ld-mode {
    width: 50px;
}

.main-title {
    font-size: 3.5vw;
}