.Titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondary-title {
    font-size: 5vw;
    padding: 10px;
}

.titles-heading {
    color: var(--text-color);
    font-weight: bold;
}

.titles-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.title-container {
    width: 70%;
    padding: 25px;
    text-align: center;
    background-color: rgba(1,180, 228, 0.3);
    border: 1px solid black;
    border-radius: 20px;
}

.title-container > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

.title-container:hover {
    box-shadow: inset  0 0 25px 5px var(--tertiary);
}

.title-container:hover > * {
    transform: scale(1.05)
}

.backdrop-poster{
    max-height: 200px;
    width: 100%;
}

.no-results {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: white;
}

.s-genre {
    border-bottom: 1px dotted white;
    font-size: small;
    margin: 10px;
}

@media screen and (min-width: 768px) { 

    .titles-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 25px;
        gap: 10px;
    }

    .title-container {
        width: 40%;
        min-height: 400px;
    }

}

@media screen and (min-width: 1024px)  { 
    .backdrop-poster{
        height: 300px;
    }

    .titles-heading {
        font-size: 1.7vw;
    }

    .title-container {
        min-height: 500px;
    }
}
